.theme-neon-horizon {
  --primary: #{map-get($neon-horizon, 'primary')};
  --secondary: #{map-get($neon-horizon, 'secondary')};
  --secondary-rgb: #{map-get($neon-horizon, 'secondary-rgb')};
}

.theme-digital-sunset {
  --primary: #{map-get($digital-sunset, 'primary')};
  --secondary: #{map-get($digital-sunset, 'secondary')};
  --secondary-rgb: #{map-get($digital-sunset, 'secondary-rgb')};
}

.theme-retro-wave {
  --primary: #{map-get($retro-wave, 'primary')};
  --secondary: #{map-get($retro-wave, 'secondary')};
  --secondary-rgb: #{map-get($retro-wave, 'secondary-rgb')};
}

.theme-pastel-future {
  --primary: #{map-get($pastel-future, 'primary')};
  --secondary: #{map-get($pastel-future, 'secondary')};
  --secondary-rgb: #{map-get($pastel-future, 'secondary-rgb')};
}