// Colors
$colors: (
  'primary': #2A3FFB,
  'secondary': #FF6B4A,
  'accent': #7000FF,
  'space': #0A0A0F,
  // New neutral color theme
  'neutral-900': #342E2E,
  'neutral-700': #817A7A,
  'neutral-500': #CFCDC7,
  'neutral-400': #D9D9D9, //Not necessary
  'neutral-300': #E8E8E8,
  'neutral-100': #FBFBFB,
);

// Breakpoints
$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
);

// Spacing
$spacing-unit: 8px;
$container-max-width: 1280px;
